<div class="row">
    <div id="home-logo"><h2>BlogIt</h2></div>
    <div id="navbar-links">
        <app-bfi-navlink [name]="'Home'"></app-bfi-navlink>
        <app-bfi-navlink [name]="'Web development'" [color]="'cornflowerblue'"></app-bfi-navlink>
        <app-bfi-navlink [name]="'DevOps'" [color]="'orangered'"></app-bfi-navlink>
    </div>
    <div id="action-buttons">
        <i class="icon menu-icon"><a target="_blank" href="https://icons8.com/icon/82853/menu">Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></i>
        <i class="icon search-icon"></i>
    </div>
</div>
