<app-bfi-header id="header"></app-bfi-header>
<main>
    <h1>Welcome to our blog</h1>
    <h3 style="color:dimgray">Development in progress...</h3>
    <h3>Stay tuned :)</h3>

    <div class="content">
        <span>BlogForIt app is running!</span>
        <div>
            <app-base-image
            [src]="'https://blogzine.webestica.com/assets/images/blog/4by3/01.jpg'"
            [height]="250"
            [width]="300"
            [radius]="10">
            </app-base-image>
            <app-base-image></app-base-image>
        </div>

        <app-tag [label]="'Photography'"></app-tag>
        <app-tag [label]="'Technology'" [color]="colors[0]" [bullet]="true"></app-tag>
        <app-tag [label]="'Travel'" [color]="colors[1]"></app-tag>

        <div>
            <app-profile-image></app-profile-image>
            <app-profile-image
                [src]="'https://blogzine.webestica.com/assets/images/avatar/01.jpg'"
                [size]="40">
            </app-profile-image>
        </div>
    </div>
</main>
